name: Javabuild
on:
  workflow_dispatch:

jobs:
  Build:
    name: Java
    runs-on: [ubuntu-latest]
    steps:
     - uses: actions/checkout@v4
     - name: Set up JDK 11 for x64
       uses: actions/setup-java@v3
       with:
         java-version: '11'
         distribution: 'temurin'
         architecture: x64
