name: Take screenshot
on:
  push:
    branches:
      - main

jobs:
  screenshots:
    runs-on: ubuntu-latest
    steps:
      - uses: Sraavi1309/webpage-screenshot-action@v1
        with:
          url: https://github.com/Sraavi1309/Screenshot/actions
